
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover" id="cardTable">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>UnitPrice</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody id="cardTableBody">
    </tbody>
</table>

@section Scripts{
    <script src="/js/card.js"></script>
}


